.git
.gitignore
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs/planning
template
*.md
!README.md
docker-compose*.yml
.dockerignore
