APP_NAME="Api Raupulus"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Europe/Madrid
APP_URL=https://api.raupulus.dev

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=api_raupulus
DB_USERNAME=api_raupulus_user
DB_PASSWORD=CAMBIAR_POR_CONTRASENA_SEGURA

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=local

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@raupulus.dev"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_ADMIN_ADDRESS="admin@raupulus.dev"

SANCTUM_STATEFUL_DOMAINS=api.raupulus.dev

AEMET_API_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

LOG_CHANNEL=daily
LOG_LEVEL=warning
