includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 5

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory#"
            path: bootstrap/app.php

    excludePaths:
        - vendor/
        - tests/
        - resources/
        - database/migrations/
