parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Models\\KeyCounter\\Keyboard\:\:\$duration \(int\) does not accept float\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/KeyCounterGenerateDuration.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Filament/Admin/Resources/Hardware/HardwareDevices/RelationManagers/TokensRelationManager.php

		-
			message: '#^Cannot access property \$email on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Admin/Resources/UserResource/Pages/EditUser.php

		-
			message: '#^Using nullsafe property access "\?\-\>humidity" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Using nullsafe property access "\?\-\>o3" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Using nullsafe property access "\?\-\>radiation_global" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Using nullsafe property access "\?\-\>rain_prob" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Using nullsafe property access "\?\-\>temperature" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Using nullsafe property access "\?\-\>wind_speed" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Admin/Widgets/AemetMetricsWidget.php

		-
			message: '#^Method App\\Http\\Controllers\\FileController\:\:delete\(\) with return type void returns Illuminate\\Http\\RedirectResponse but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: app/Http/Controllers/FileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_private\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FileThumbnailController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/FileThumbnailController.php

		-
			message: '#^Access to an undefined property App\\Models\\KeyCounter\\Keyboard\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/KeyCounter/KeyCounterController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\KeyCounter\\Keyboard\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/KeyCounter/KeyCounterController.php


		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/KeyCounter/KeyCounterController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name_friendly" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/KeyCounter/KeyCounterController.php

		-
			message: '#^Static method App\\Models\\Language\:\:getTableHeads\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/LanguageController.php

		-
			message: '#^Method App\\Http\\Controllers\\WeatherStation\\WeatherStationController\:\:sensor\(\) should return Illuminate\\View\\View but returns Illuminate\\Http\\RedirectResponse\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/WeatherStation/WeatherStationController.php

		-
			message: '#^Parameter \#2 \$name of method Illuminate\\Mail\\Mailable\:\:to\(\) expects string\|null, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Mail/GenericMail.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$altitude\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$flight\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$lat\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$lon\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$messages\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$rssi\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$seen\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$seen_at\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$seen_pos\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$speed\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$squawk\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$track\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Access to an undefined property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$vert_rate\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Parameter \#1 \$message of static method Illuminate\\Log\\Logger\:\:error\(\) expects array\|Illuminate\\Contracts\\Support\\Arrayable\|Illuminate\\Contracts\\Support\\Jsonable\|Illuminate\\Support\\Stringable\|string, Exception given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/AirFlight/AirFlightAirPlane.php

		-
			message: '#^Strict comparison using \=\=\= between mixed~''App\\\\Models\\\\User'' and ''App\\\\Models\\\\User'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/ApiToken.php

		-
			message: '#^Access to an undefined property App\\Models\\BaseModels\\BaseModel\:\:\$image\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/BaseModels/BaseModel.php

		-
			message: '#^Method App\\Models\\CV\\Curriculum\:\:getTableRowsByPage\(\) should return array but returns Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\CV\\Curriculum\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/Curriculum.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumAcademicComplementary\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumAcademicComplementary.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumAcademicComplementaryOnline\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumAcademicComplementaryOnline.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumAcademicTraining\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumAcademicTraining.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/CV/CurriculumBaseSection.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:safeDelete\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/CV/CurriculumBaseSection.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:thumbnail\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/CV/CurriculumBaseSection.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumBaseSection\:\:getTableRowsByPage\(\) should return array but returns Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\CV\\CurriculumBaseSection\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumBaseSection.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumCollaboration\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumCollaboration.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumExperienceAccredited\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumExperienceAccredited.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumExperienceAdditional\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumExperienceAdditional.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumExperienceNoAccredited\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumExperienceNoAccredited.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumExperienceOther\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumExperienceOther.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumExperienceSelfEmployed\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumExperienceSelfEmployed.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumHobby\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumHobby.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumJob\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumJob.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumProject\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumProject.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumRepository\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumRepository.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumService\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumService.php

		-
			message: '#^Method App\\Models\\CV\\CurriculumSkill\:\:getTableCellsInfo\(\) should return array\<array\<string\>\> but returns array\<string, array\<string, bool\|string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/CV/CurriculumSkill.php

		-
			message: '#^Called ''diff'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Models/Content/Content.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$order\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Content/ContentPage.php

		-
			message: '#^PHPDoc tag @return with type mixed is not subtype of native type string\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/Content/ContentPage.php

		-
			message: '#^Using nullsafe property access "\?\-\>content" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Content/ContentPage.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Models/File.php

		-
			message: '#^PHPDoc tag @return with type array\[int\] is not subtype of native type array\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/File.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Relations\\HasMany is incompatible with native type Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\.$#'
			identifier: return.phpDocType
			count: 2
			path: app/Models/Hardware/HardwareDevice.php

		-
			message: '#^Method App\\Models\\KeyCounter\\BaseKeyCounter\:\:all\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, static\(App\\Models\\KeyCounter\\BaseKeyCounter\)\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\BaseModels\\BaseModel\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/KeyCounter/BaseKeyCounter.php

		-
			message: '#^Method App\\Models\\KeyCounter\\BaseKeyCounter\:\:setUpdatedAt\(\) should return \$this\(App\\Models\\KeyCounter\\BaseKeyCounter\) but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Models/KeyCounter/BaseKeyCounter.php

		-
			message: '#^Method App\\Models\\KeyCounter\\Mouse\:\:all\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, static\(App\\Models\\KeyCounter\\Mouse\)\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\KeyCounter\\Keyboard\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/KeyCounter/Mouse.php

		-
			message: '#^Method App\\Models\\Language\:\:getTableRowsByPage\(\) should return array but returns Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Language\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Language.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Platform.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subcategories\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Platform.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$urlImageMicro\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Platform.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$urlImageSmall\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Platform.php

		-
			message: '#^PHPDoc tag @return with type mixed is not subtype of native type Illuminate\\Database\\Eloquent\\Relations\\HasMany\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/SmartPlant/SmartPlantPlant.php

		-
			message: '#^Parameter \#2 \$direction of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\SmartPlant\\SmartPlantRegister\>\:\:orderBy\(\) expects ''asc''\|''desc''\|SortDirection, ''DESC'' given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/SmartPlant/SmartPlantPlant.php

		-
			message: '#^Method App\\Models\\SmartPlant\\SmartPlantRegister\:\:setUpdatedAt\(\) should return \$this\(App\\Models\\SmartPlant\\SmartPlantRegister\) but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Models/SmartPlant/SmartPlantRegister.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$image\.$#'
			identifier: property.notFound
			count: 4
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:getFacebookAttribute\(\) should return App\\Models\\UserSocial\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:getTwitterAttribute\(\) should return App\\Models\\UserSocial\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\User\:\:\$appends is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$appends\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\User\:\:\$casts is not covariant with PHPDoc type array\<string, string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$casts\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$apiResponse$#'
			identifier: parameter.notFound
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETCoast.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Collection\|null is not subtype of native type array\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETCoast.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETCoast.php

		-
			message: '#^Variable \$result on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETCoast.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$apiResponse$#'
			identifier: parameter.notFound
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETContamination.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Collection\|null is not subtype of native type array\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETContamination.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETContamination.php

		-
			message: '#^Variable \$result on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETContamination.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Collection\|null is not subtype of native type App\\Models\\WeatherStation\\AEMET\\AEMETHighSea\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETHighSea.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETHighSea.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$apiResponse$#'
			identifier: parameter.notFound
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETOzone.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Collection\|null is not subtype of native type array\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETOzone.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETOzone.php

		-
			message: '#^Variable \$result on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETOzone.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETPrediction.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Database\\Eloquent\\Collection\|null is not subtype of native type array\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETPredictionBeach.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETPredictionBeach.php

		-
			message: '#^PHPDoc tag @return with type Illuminate\\Support\\Facades\\Validator is incompatible with native type Illuminate\\Validation\\Validator\.$#'
			identifier: return.phpDocType
			count: 1
			path: app/Models/WeatherStation/AEMET/AEMETSunRadiation.php

		-
			message: '#^Property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$seen_first_at \(string\|null\) does not accept Illuminate\\Support\\Carbon\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Services/AirFlight/AirFlightService.php

		-
			message: '#^Property App\\Models\\AirFlight\\AirFlightAirPlane\:\:\$seen_last_at \(string\|null\) does not accept Illuminate\\Support\\Carbon\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Services/AirFlight/AirFlightService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\KeyCounter\\Keyboard\>\:\:lastDays\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/KeyCounter/KeyCounterService.php

		-
			message: '#^Trait App\\Traits\\Filterable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/Filterable.php

		-
			message: '#^Trait App\\Traits\\HasSlug is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasSlug.php

		-
			message: '#^Trait App\\Traits\\HasStatus is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasStatus.php

		-
			message: '#^PHPDoc tag @extends has invalid type App\\Models\\WeatherStation\\BaseWheaterStation\.$#'
			identifier: class.notFound
			count: 1
			path: database/factories/BaseWheaterStationFactory.php

		-
			message: '#^Type App\\Models\\WeatherStation\\BaseWheaterStation in generic type Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\WeatherStation\\BaseWheaterStation\> in PHPDoc tag @extends is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Factories\\Factory\.$#'
			identifier: generics.notSubtype
			count: 1
			path: database/factories/BaseWheaterStationFactory.php

		-
			message: '#^Call to static method factory\(\) on an unknown class App\\Models\\Team\.$#'
			identifier: class.notFound
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Call to static method hasTeamFeatures\(\) on an unknown class Database\\Factories\\Features\.$#'
			identifier: class.notFound
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Method Database\\Factories\\UserFactory\:\:withPersonalTeam\(\) should return \$this\(Database\\Factories\\UserFactory\) but returns static\(Database\\Factories\\UserFactory\)\.$#'
			identifier: return.type
			count: 2
			path: database/factories/UserFactory.php

		-
			message: '#^PHPDoc type string of property Database\\Factories\\UserFactory\:\:\$model is not covariant with PHPDoc type class\-string\<Illuminate\\Database\\Eloquent\\Model\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Property Database\\Seeders\\RolesTableSeeder\:\:\$tableName is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: database/seeders/RolesTableSeeder.php

		-
			message: '#^Property Database\\Seeders\\TechnologiesSeeder\:\:\$tableName is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: database/seeders/TechnologiesSeeder.php

		-
			message: '#^Property Database\\Seeders\\UsersTableSeeder\:\:\$tableName is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: database/seeders/UsersTableSeeder.php

		-
			message: '#^Anonymous function should never return but return statement found\.$#'
			identifier: return.never
			count: 1
			path: routes/web.php

